<%= simple_form_for question, html: {
  data: {
    controller: "reset-form",
    action: "turbo:submit-end->reset-form#reset"
  }
} do |f| %>
  <div class="chatbot-question-box">
    <%= f.input :user_question, label: false, placeholder: "Ask Hex a question!", class: "form-question" %>
    <%= f.submit "↑", id: "new-question-button", class: "btn btn-primary chatbot-send" %>
  </div>
<% end %>
