.about-page-container {
  width: 1000px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

.about-container {
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  padding-bottom: 20px;

  h2 {
    color: $dark-green;
    font-size: 2rem;
    text-align: left;
    margin-bottom: 20px;
  }

  h4 {
    color: $dark-green;
    margin-top: 30px;
  }

  p {
    margin-bottom: 20px;
  }
}

.contact-container {
  width: 32%;
  height: fit-content;
  padding: 10px 20px 10px 20px;
  background-color: $lightest-green;
  border-radius: 10px;
  text-align: center;

  h2 {
    color: $dark-green;
    font-size: 2rem;
    text-align: left;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
    text-align: left;
  }

  a {
    text-decoration: none;
    color: $dark-green;
  }

  a:hover {
    color: $light-green
  }

  .btn-contact {
    margin: 10px auto;
    background-color: $light-green;
    border-radius: 10px;
  }

  .btn-contact:hover {
    transition: 0.3s ease;
    background-color: $dark-green;
    border: none;
  }
}

// Mobile design
@media (max-width: 768px) {
  .about-page-container {
    width: 100%;
    flex-direction: column;
  }

  .about-container {
    width: 100%;
    padding: 0px 20px 20px 20px;
  }

  .contact-container {
    width: 90%;
    margin: 0px auto;
    margin-top: 20px;
    padding: 20px;

  }
}

// Tablet design
@media (max-width: 1024px) {
  .about-page-container {
    width: 100%;
    padding: 0px 20px;
  }
}
