.hexagon-hive-container {
  width: 1000px;
  margin: 40px auto;
  min-height: calc(100dvh - 140px);
  display: flex;
  justify-content: space-between;
}

.hexagon-hive-content-container {
  width: 60%;
  min-height: calc(100dvh - 140px);
  display: flex;
  flex-direction: column;
}

.hexagon-hive-title-container {
  width: 100%;
  height: 50px;
  // margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1, h3 {
    color: $dark-green;
    margin: 0px;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  .add-button-title {
    margin-right: 15px;
  }

  .back-button-title {
    margin-left: 15px;
  }
}

.hexagon-hive-title-buttons {
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
  }
}

// Mirrored in hive_index.scss
.hexagon-hive-title-button {
  font-size: 1.25rem;
  color: $light-green;
  background-color: $dark-green;
  height: 30px;
  padding: 5px;
  border-radius: 10px;

  &:hover {
    transition: 0.3s ease;
    color: $dark-green;
    background-color: $light-green;
  }
}

.back-button {
  color: white !important;
  background-color: grey !important;

  &:hover {
    transition: 0.3s ease;
    color: black !important;
    background-color: rgb(200,200,200)!important;
  }
}

.back-button {
  color: black;
  background-color: rgb(200, 200, 200);
  border-color: rgb(200, 200, 200);

  &:hover {
    transition: 0.3s ease;
    background-color: rgb(175,175,175);
    border-color: rgb(175,175,175);
  }
}

.hexagon-hive-show-action-icons {
  text-decoration: none;
  margin-right: 5px;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
}

.action-icon {
  font-size: 1.25rem;
  text-decoration: none;
  color: rgb(175,175,175);
  margin-left: 15px;

  a {
    text-decoration: none;
  }

  &:hover {
    transition: 0.3s ease;
    color: rgb(125, 125, 125);
  }
}

.hexagon-hive-non-title-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(225, 225, 225, 0.5);
  padding-bottom: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.hexagon-hive-title-button {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hexagon-hive-content-cards {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

.hexagon-hive-map-container {
  width: 100%;
  margin-top: 20px;
}

.hexagon-shape {
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  background: rgb(215, 215, 215);
  box-shadow: 3px 3px 3px rgba(225, 225, 225, 0.5);
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.hexagon-hive-map {
  margin: 0 auto;
}

.mainMarker {
  fill: rgb(45, 8, 207);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.matched-locations-header {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4 {
    color: $dark-green;
    text-align: left;
    width: fit-content;
  }
}

#toggle-locations-button {
  background: none;
  border: none;
  font-size: 1.6em;
  cursor: pointer;
  margin-left: 10px;

  i {
    color: $dark-green
  }
}

.hive-notes {
  background-color: $lightest-green;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  height: calc(100dvh - 140px);
  overflow-y: scroll;

  h4 {
    color: $dark-green;
    margin-bottom: 20px;
    font-size: 1.75rem;
  }

  p {
    font-size: 0.8rem;
  }

  ul {
    font-size: 0.8rem;
  }
}

// Further Chatbot styling in _chatbot.scss
.hexagon-hive-chatbot-container {
  width: 32%;
  height: calc(100dvh - 140px);
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 110px;
}

.itinerary-answer {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.plus {
  background: none;
  border: none;
  font-size: 2.4em;
  cursor: pointer;
  margin-bottom: 8px;
}

.spinner {
  background: none;
  border: none;
  font-size: 1.4em;
  cursor: pointer;
  margin-bottom: 8px;
}

// Tablet design
@media (max-width: 1024px) {
}

// Mobile design
@media (max-width: 768px) {
  .hexagon-hive-container {
    width: auto;
    min-height: calc(100dvh - 100px);
    margin: 40px 0px;
    flex-direction: column;
    align-items: center;
  }

  .hexagon-hive-title-container {
    .add-button-title {
      margin-right: 5px,
    }

    .back-button-title {
      margin-left: 5px;
    }
    
    h3 {
      font-size: 1.3rem;
    }
  }

  .hexagon-hive-content-container {
    width: 90dvw;
    min-height: auto;
  }

  .hexagon-shape {
    width: 300px;
    height: 300px;
  }

  .matched-locations-header {
    h4 {
      font-size: 1.15rem;
      margin-bottom: 0px;
    }
  }

  .hexagon-hive-chatbot-container {
    width: 90dvw;
    height: auto;
    margin-top: 20px;
  }

  .hive-notes {
    height: auto;
    padding: 20px;
  }
}