.hexgrid-container {
  display: flex;
  flex-direction: row;
  background-color: $white;
  background-color: #dcf8e1;
}

.hexgrid-filters-container {
  background-color: #dcf8e1;
  width: 30dvw;
  height: calc(100dvh - 70px);
  padding: 20px;
}

.hexgrid-map-container {
  background: $white;
  width: 60dvw;
  height: calc(100dvh - 110px);
  margin: 20px;
}

.map-filter-options {
  display: flex;
  flex-direction: column;
}

.clicked-hexagon {
  text-align: center;
}

.clicked-hexagon .hexagon-title {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.clicked-hexagon p {
  font-size: 8px;
  font-style: italic;
  margin: 0;
}

.btn-hexagon {
  font-size: 12px;
  margin-top: 10px;
}
