.hive-container{
  width: 1000px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.hive-info-container {
  width: 65%;
}

.hive-info-container h1 {
  margin: 0px;
  padding: 0px;
}

.hive-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hive-cards-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.hive-profile-container {
  width: 25%
}

.home-button {
  border-radius: 5px;
}
