.hive-container{
  width: 1000px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.hive-info-container {
  width: 60%;
}

.hive-info-container h1 {
  margin: 0px;
  padding: 0px;
}

.hive-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hive-cards-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.hive-profile-container {
  width: 32%;
  position: sticky;
  top: 110px;
  align-self: flex-start;
}

.home-button {
  border-radius: 5px;
}

.grow-hive {
  font-size: 2rem;
  background-color: $dark-green;
  padding: 5px;
  border-radius: 10px;
}
