.hive-container{
  width: 1000px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.hive-info-container {
  width: 60%;

  h4 {
    color: $dark-green;
    margin: 0px;
    padding: 0px;
  }
}

.hive-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: $dark-green;
    font-size: 2.5rem;
  }

  a {
    text-decoration: none;
  }
}

.hexagon-hive-title-button {
  font-size: 1.25rem;
  color: $light-green;
  background-color: $dark-green;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
}

.hive-cards-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.hive-profile-container {
  width: 32%;
  position: sticky;
  top: 110px;
  align-self: flex-start;
}

.notes-answer {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 10px;
  font-size: 0.9rem;
}

.hive-index-map-container {
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(225, 225, 225, 0.5);
  margin-top: 20px;
  overflow: hidden;
}

// Tablet design
@media (max-width: 1024px) {
}

// Mobile design
@media (max-width: 768px) {
  .hive-container {
    width: auto;
    margin: 40px 0px;
    flex-direction: column;
    align-items: center
  }

  .hive-info-container, .hive-profile-container {
    width: 90dvw;
  }

  .hive-profile-container {
    align-self: center;
  }
}