.hives-container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}

.hives-container .booking-icon{
  justify-self: end;
}

.hive-container{
  border: 1px solid black;
  margin-bottom: 4px;
}

.hives-cards-containter{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cards-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 30px;
  width: 90%;
}

.create-hive-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 50px;
}

@media only screen and (max-width: 720px) {
  .hives-cards-containter{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .users-card{
    min-width: 15%;
  }
}
