.home-background {
  width: 100dvw;
  min-height: calc(100dvh - 70px);
  background-color: $dark-green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  width: 1000px;
  min-height: calc(100dvh - 70px);
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-map-container {
  width: 75dvh;
  height: 50dvh;
  margin: 0px auto;
  background-image: url("homepage_map");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-search-container {
  display: flex;
  flex-direction: row;
}

.home-button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container h1 {
  color: $white;
  font-size: 42px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 25px;
}

.home-container p {
  color: $white;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}

.custom-datalist {
  position: absolute;
  z-index: 999;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px; /* Match the input field width */
}

/* Style for the suggestion items (using JavaScript to inject these items into the datalist) */
.custom-datalist option {
  padding: 8px;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
}

.custom-datalist option:hover {
  background-color: #f1f1f1;
}
