.home-background {
  width: 100dvw;
  min-height: calc(100dvh - 70px);
  background-color: $dark-green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  width: 1000px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: $white;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 25px;
  }

  p {
    color: $white;
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
  }
}

.home-search-container {
  display: flex;
  flex-direction: row;
}

.search-bar {
  height: 50px;
  width: 350px;
  background-color: white;
  border: 1px solid rgb(222, 226, 230);
  border-right: none;
  border-radius: 5px 0px 0px 5px;
}

.btn-home-search {
  height: 50px;
  width: 50px;
  border: 1px solid rgb(222, 226, 230);
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  background-color: white;

  .search-icon {
    font-size: 1.5rem;
    color: $dark-green;
  }

  &:hover, &:active {
    transition: 0.3s;
    background-color: $dark-green;
    border: 0.5px solid $lightest-green;

    .search-icon {
      color: $light-green;
    }
  }
}

.custom-datalist {
  position: absolute;
  z-index: 999;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 5px;
  width: 350px;
}

.custom-datalist option {
  padding: 10px;
  background-color: white;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.2s;
  text-align: left;

  &:hover {
    background-color: #f1f1f1;
  }
}

.home-map-container {
  width: 75dvh;
  height: 50dvh;
  margin: 0px auto;
  margin-top: 35px;
  background-image: url("homepage_map");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .home-container {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    h1 {
      color: $dark-green;
      font-size: 1.2rem;
      font-weight: 200;
    }

    form input {
      width: 30dvh;
      margin-right: 4px;
      margin-bottom: 10px;
    }
  }

  .home-search-container {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }

  .home-map-container {
    display: none;
  }
}
