.map-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(250, 250, 250);
  margin: 0 auto;
}

// Section 1: Map Filters (LHS)
.map-filter-container {
  width: 16dvw;
  height: calc(100dvh - 110px);
  margin-top: 20px;
  margin-left: 20px;
  // background-color: rgba(220, 248, 225, 1);
  // border: 0.25px solid rgba(220, 248, 255, 0.5);
  // border-radius: 10px;
  background-color: rgba(200, 200, 200, 0.2);
  border: 0.25px solid rgba(200, 200, 200, 0.5);
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(225, 225, 225, 0.5);;
}

.map-filters {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.map-filters h2 {
  margin: 0px;
  text-align: center;
}

.map-filters-search {
  height: 35px;
  margin: 15px 0px;
  border-radius: 5px;
  border: 2px solid $dark-green;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.85rem;
}

.map-filters-search-item {
  margin: 3px 0px;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.map-filters-search-tick-box {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  cursor: pointer;
  accent-color: $dark-green;
}

// Section 2: Map & Hexagons (Centre)
.map-hexgrid-container {
  width: 60dvw;
  height: calc(100dvh - 110px);
  margin: 20px auto;
}

.clicked-hexagon {
  text-align: center;
}

.clicked-hexagon .hexagon-title {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.clicked-hexagon p {
  font-size: 0.85rem;
  font-style: italic;
  margin: 0;
}

.btn-hexagon {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 20px;
}

// Section 3: Map Info (RHS)
.map-info-container {
  width: 17dvw;
  height: calc(100dvh - 110px);
  margin-top: 20px;
  margin-right: 20px;
  padding: 20px;
  // background-color: rgba(176, 229, 255, 0.2);
  // border: 0.25px solid rgba(176, 229, 255, 0.5);
  // border-radius: 10px;
  // box-shadow: 2px 2px 2px rgba(225, 225, 225, 0.5);
  background-color: rgba(200, 200, 200, 0.2);
  border: 0.25px solid rgba(200, 200, 200, 0.5);
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(225, 225, 225, 0.5);;
}

.map-info {
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.map-key-container {
  text-align: left;
}

.map-key-container h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
}

.map-keys {
  text-align: left;
  border-bottom: 1px grey dashed;
}

.map-key-item {
  margin-top: 30px;
  margin-bottom: 30px;
  font-style: italic;
}

.map-key-item p {
  font-size: 0.85rem;
}

.map-key-distance {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  border-bottom: 1px grey dashed;
}

.map-key-distance i {
  margin-right: 10px;
}

.map-key-units {
  display: flex;
  flex-direction: row;
}

.map-key-distance-unit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-style: italic;
  padding-top: 1px;
}

.map-key-distance-unit p {
  font-size: 0.85rem;
  margin: 0px;
}

.map-key-distance-unit:first-child {
  margin-right: 15px;
}

.key-hexagon-distance {
  width: 35px;
  margin-right: 10px;
}

.key-hexagon {
  height: 30px;
  margin-right: 10px;
}

.map-key-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.map-key-item p {
  margin: 0px;
}

.map-steps {
  text-align: center;
}

.map-steps h4 {
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: center;
}

.map-step {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map-step p {
  margin: 0px;
  font-size: 0.85rem;
  font-style: italic;
}

.hexagon-steps {
  height: 35px;
  margin-bottom: 10px;
}
