<div class="footer">
  <div class="footer-links">
    <%= link_to "Home", root_path, class: "footer-link" %>
    <%= image_tag "hexagon.png", class: "footer-icon" %>
    <%= link_to "About", about_path, class: "footer-link" %>
  </div>
</div>
