<div class="footer">
  <div class="footer-links">
    <%= link_to "Home", root_path, class: "footer-link" %>
    <%= link_to "About", root_path, class: "footer-link" %>
    <%= link_to "Contact", root_path, class: "footer-link" %>
  </div>
</div>
