<% @pois.each do |poi| %>
  <div class="card-product">
    <div class="fontawsome-icon-container">
      <i class="fontawsome-icon fa-solid fa-<%= poi.category.strip == 'yoga studio' ? 'hands-praying' : @category_icons[poi.category.strip.to_sym] %>"></i>
    </div>
    <div class="card-product-info">
      <p><%= poi.category.capitalize %></p>
      <h5><%= poi.name %></h5>
    </div>
  </div>
<% end %>
