
<% @poi.each do |poi| %>
<div class="card-product">
  <%icon = poi.category%>
  <i class="fa-solid fa-<%=@fontAwsomeIcons[poi.category.strip.to_sym]%>"></i>
  <div class="card-product-infos">
    <h2><%= poi.category.capitalize %></h2>
    <p><%= poi.name %></p>
  </div>
</div>
<% end %>
