<div class="modal fade" id="hexagonShowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"       aria-hidden="true" data-controller="hexagon-modal"
data-hexagon-modal-target="modalPartial">
  <div class="modal-dialog" role="document" data-hexagon-modal-target="modalPartial">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Hexagon</h5>
        <button type="button" data-action="click->hexagon-modal#closeModal" class="close-button" data-dismiss="modal" data-hexagon-modal-target="closeModal"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for  @hive do |f| %>
        <div class="form-inputs">
          <%= f.input :name,
                      placeholder: "Name" %>
          <%= f.input :notes,
                    placeholder: "Notes",
                    value: @hive.notes,
                    input_html: { class: "auto-expand form-control", rows: 1, style: "min-height: 400px;" } %>
          <div class="modal-form-actions">
            <%= f.submit "Update", class: "btn btn-primary form-button" %>
          </div>
        </div>
       <% end %>
      </div>
    </div>
  </div>
</div>
