<div class="about-page-container">
  <div class="about-container">
    <h2>About</h2>
    <p>Hexplore is on a mission to help people find their 'hive' in London.
    <p>London is vast and diverse. People new to the city don't always know where to start, and even long-time residents often stumble across areas they'd never even heard about before. So while people know what they like, they don't always know where to find it and this can make finding a place to live, or simply a place to make the most of your free time, overwhelming.</p>
    <p>That's where Hexplore comes in.</p>
    <p>Hexplore is a dynamic mapping solution with an integrated AI assistant to help everyone find their hive - the part of the city that matches them to a tee.</p>
    <p>Hexplore takes a map of London and overlays thousands of hexagons on top. As users begin to select the things that matter most to them - be that green space, a charming local pub, or a nearby independent cinema - each hexagon changes colour adapting to the user's choices and the map reveals the area(s) that best match the user's criteria, and best suits their needs!</p>
    <h4>Hexplore. Find your hive.</h4>
  </div>

  <div class="contact-container">
    <h2>Contact</h2>
    <%# Insert Email Form %>
  </div>
</div>
