<div class="home-background">
  <div class="home-container">
    <h1>You pick what matters most to you.<br>We find your hive.</h1>
    <div class="home-map-container">
    </div>
    <p>A dynamic mapping solution with integrated AI to help make cities work for you.</p>
    <%= link_to "Find Your Hive", root_path, class: "btn btn-primary home-button" %>
  </div>
</div>
