<div class="home-background">
  <div class="home-container">
    <h1>You pick the places that matter most. <span class="hide-on-mobile"><br></span>We help you find your hive.</h1>
    <form action="/map" method="get" data-turbo="true">
      <div class="home-search-container">
        <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          <input
            type="text"
            name="address"
            id="address"
            placeholder="Enter an address to start..."
            class="form-control search-bar"
            required
            data-address-autocomplete-target="address"
            data-action="keyup->address-autocomplete#getSuggestions">
          <datalist
            class="d-block custom-datalist"
            data-address-autocomplete-target="suggestionsOutput">
          </datalist>
        </div>
        <button type="submit" class="btn-home-search">
          <i class="fa-solid fa-location-dot search-icon"></i>
        </button>
      </div>
    </form>
    <div class="home-map-container"></div>
    <p>Our dynamic mapping solution with integrated AI <span class="hide-on-mobile"><br></span>helps London work for you</p>
  </div>
</div>
