<div class="home-background">
  <div class="home-container">
    <h1>You pick what matters most to you.<br>We find your hive.</h1>

    <form action="/map" method="get" data-turbo="true">
      <div class="home-search-container">
        <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          <input type="text" name="address" id="address" placeholder="Enter Address" class="form-control form-control-lg" required
            data-address-autocomplete-target="address"
            data-action="keyup->address-autocomplete#getSuggestions" >
          <datalist class="d-block custom-datalist"
          data-address-autocomplete-target="suggestionsOutput">
          </datalist>
        </div>
        <button type="submit" class="btn btn-lg">
          <i class="fa-solid fa-magnifying-glass-location" style="color: #9BF7AB;"></i>
        </button>
      </div>
    </form>

    <div class="home-map-container mt-2"></div>

    <p>A dynamic mapping solution with integrated AI to help London work for you.</p>







  </div>
</div>
