
<div class="hives-container">
<div class="container create-hive-container">
<h2>My Hive</h2>
<%= link_to 'Add new hexagon', root_path, class: "btn btn-primary home-button" %>
</div>
  <div class="hives-cards-containter">
    <div class="cards-product-container">
      <%= render "shared/cards_product" %>
    </div>
    <%= render "shared/users_card" %>
  </div>
</div>
