<div class="hive-container">
  <div class="hive-info-container">
    <div class="hive-header-container">
      <h1>My Hive</h1>
      <%= link_to root_path do %>
        <i class="fa-solid fa-plus hexagon-hive-title-button add-button"></i>
      <% end  %>
    </div>

    <div class="hive-cards-container">
      <%= render "shared/hive_index_cards" %>
    </div>
  </div>

  <div class="hive-profile-container">
    <%= render "shared/users_card" %>
    <div class="hive-index-map-container">
        <div
          class="hive-index-map"
          style="width: 320px; height: 320px"
          data-controller="hive-index-map"
          data-hive-index-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

</div>
