<div class="hive-container">
  <div class="hive-info-container">
    <div class="hive-header-container">
      <h1>My Hive</h1>
      <%= link_to 'Grow Your Hive', root_path, class: "btn btn-primary home-button" %>
    </div>

    <div class="hive-cards-container">
      <%= render "shared/hive_cards" %>
    </div>
  </div>

  <div class="hive-profile-container">
    <%= render "shared/users_card" %>
  </div>
</div>
