
<div class="hives-container">
<div class="container create-hive-container">
<h2>My hives</h2>
<%= link_to 'Create Hive', hex_grid_path(@hex_grid), class: "btn btn-primary home-button" %>
</div>
  <%= render "shared/cards_product" %>
</div>
