<div class="hive-container">
  <div class="hive-info-container">
    <div class="hive-header-container">
      <h1>My Hive</h1>
      <%= link_to root_path do %>
        <i class="fa-solid fa-plus grow-hive"></i>
      <% end  %>
    </div>

    <div class="hive-cards-container">
      <%= render "shared/hive_index_cards" %>
    </div>
  </div>

  <div class="hive-profile-container">
    <%= render "shared/users_card" %>
  </div>
</div>
