<h1>Hoxton</h1>
<h3>East London</h3>
<%# <%= link_to 'Add to My Hives', new_hexagon_hive_path [@hexagon, @hive] %> %>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget libero metus. Nam interdum enim non dui euismod consectetur. Sed mauris massa, efficitur ut nisl vitae, egestas sagittis orci. Praesent tempus maximus libero sed lobortis. Vivamus ultricies sollicitudin sollicitudin. Curabitur euismod egestas eros a laoreet. Praesent posuere urna non mi eleifend sollicitudin. Vivamus vel dignissim dolor, at hendrerit metus. Integer sagittis ultrices mollis. Donec vulputate ligula nisi.</p>
<h2>Matched Locations</h2>
<h3>Parks</h3>
<img src="" alt="park image">
<h4>Hoxton Park</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget libero metus. Nam interdum enim non dui euismod consectetur.</p>
<img src="" alt="park image">
<h4>Shoredicth Park</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget libero metus. Nam interdum enim non dui euismod consectetur.</p>
<h3>Cafes</h3>
<img src="" alt="cafe image">
<h4>Cates</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget libero metus. Nam interdum enim non dui euismod consectetur.</p>
<img src="" alt="cafe image">
<h4>Farbique</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget libero metus. Nam interdum enim non dui euismod consectetur.</p>
<img src="" alt="hexagon-map-image">
<h3>Matched</h3>
<button>Bus Stop</button>
<button>Cafe</button>
<button>Gym</button>
<button>Park</button>
<button>Train Station</button>
<h3>Unmatched</h3>
<button>Pharmacy</button>
<h4>Chat to Hex</h4>
<p>raesent posuere urna non mi eleifend sollicitudin. Vivamus vel dignissim dolor, at hendrerit metus. Integer sagittis ultrices mollis. Donec vulputate ligula nisi</p>
<div>Hexagon image</div>
