.footer {
  width: 100%;
  background: $dark-green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  padding: 0px 50px;
  color: $light-green;
  margin-top: auto;
}

.footer-links {
  margin: 0 auto;
  display: flex;
  align-items: center;

  a {
    color: $light-green;
    opacity: 0.45;
    text-decoration: none;
    font-size: 16px;
    padding: 0px 20px;

    &:hover {
      opacity: 1;
    transition: 0.3s;
    }
  }
}

.footer-icon {
  opacity: 0.45;
  height: 15px;

  a:hover {
    opacity: 1;
    transition: 0.3s;
  }
}
