.card-product {
  overflow: hidden;
  width: 30%;
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
  margin-right: 20px;
  padding: 10px;
  text-align: center;
}

.fontawsome-icon{
  color: #9CFBAB;
  font-size: 1.6rem;
}
// .fontawsome-icon-container{
//   border-right: 2px solid black;
//   padding-right: 20px;
// }

.card-product-infos{
  width: 100%;
}

.card-product:hover {
  transform: scale(1.02);
  transition: 0.3s;
}


.card-product-button{
  width: 80px;
  height: 30px;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.buttons-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  margin-top: 15px;
}

.details-edit-buttons{
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

// .card-product img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

.card-product h5 {
  text-align: center;
}

.card-product p {
  font-size: 0.8rem;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
.chatbot{
  height: 400px;
}

.hexagon-card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
