.hive-card {
  overflow: hidden;
  width: 100%;
  height: 120px;
  background: white;
  box-shadow: 3px 3px 3px rgba(225, 225, 225, 0.5);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;

  &:hover {
    transform: scale(1.01);
    transition: 0.3s;
  }
}

.hive-card-link {
  text-decoration: none;
  color: inherit;
}

.hive-card-image-container {
  position: relative;
}

.hive-card-image {
  width: 75px;
  margin: 15px;
}

.hive-number {
  position: absolute;
  transform: translate(calc(100% / -2), calc(100% / -2));
  top: 50%;
  left: 50%;
  color: $light-green;
  font-size: 1.6rem;
  font-weight: 600;
}

.hive-card-info {
  height: 105px;
  width: 78%;
  text-align: left;
  display: flex;
  padding: 15px;

  h2 {
    color: $dark-green;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    text-align: left;
  }

  p {
    font-size: 0.75rem;
    line-height: 1.4;
    opacity: 0.7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .hive-card-info-text {
    text-align: left;
  }
}

.truncate-text-lines{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
