.info-window {
  color: $dark-green;
  z-index: 999;
}

.info-window-category {
  font-size: 0.75rem;
  text-align: left;
  text-transform: capitalize;
}

.info-window-title {
  font-size: 1rem;
  text-align: left;
  margin-top: 15px;
  width: 100%;
}

.mapboxgl-popup-content {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.mapboxgl-popup-close-button {
  color: $light-green;
  background-color: $dark-green;
  width: 20px;
  height: 20px;
  margin: 6px;
  border-radius: 25px;
  font-weight: bolder;

  &:hover {
    color: $dark-green;
    background-color: $light-green;
  }
}
