.info-popup {
  color: #112201;
  z-index: 999;
}

.info-popup-category {
  font-size: 1rem;
  text-align: left;
  text-transform: capitalize;
}

.info-popup-title {
  font-size: 1.25rem;
  text-align: left;
  line-height: 30px;
  margin-top: 15px;
  width: 100%;
}

.mapboxgl-popup-content {
  background-color: white;
  border-radius: 10px;
}

.mapboxgl-popup-close-button {
  background-color: #9CFBAB;
  color: #112201;
  width: 20px;
  height: 20px;
  margin: 6px;
  border-radius: 25px;
  font-weight: bolder;
}
