.navbar-hexplore {
  justify-content: space-between;
  background: $dark-green;
  width: 100%;
  height: 70px;
  padding: 0px 10px;
}

.navbar-hexplore .navbar-collapse {
  flex-grow: 0;
}

.navbar-logo {
  height: 50px;
}

.nav-item {
  padding-right: 20px;

  &:last-child {
    padding: 0px;
  }
}

.nav-link {
  color: $light-green;
}

.initials-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $light-green;
  color: $dark-green;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

#navbarDropdown::after {
  display: none !important;
}

// Tablet design
@media (max-width: 1024px) {
}

// Mobile design
@media (max-width: 768px) {
  .navbar-hexplore {
    height: 50px;
  }

  .navbar-logo {
    height: 35px;
  }

  .navbar-toggler {
    height: 35px;
    background: none !important;
    border: none;
    box-shadow: none;

    i {
      font-size: 24px;
      color: $light-green;
    }
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $dark-green;
    z-index: 1000; 
  }

  .initials-avatar {
    display: none !important;
  }

  .nav-link {
    text-align: right;
    margin-right: 20px;
  }
}
